body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/images/coffee-shop-1209863_1920.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}