<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
    <p>Visit Us at: <a href="#" title="W3.CSS" target="_blank" class="w3-hover-text-green">www.quickwebsite.net</a></p>
    <p>Website Designed by: <a href="https://www.quickwebsite.net" title="W3.CSS" target="_blank" class="w3-hover-text-green">www.quickwebsite.net</a></p>
    
</footer>
  